@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

@layer base {
    body {
        @apply font-[Barlow];
    }
}

@theme {
  --color-hijau: #7c4f2a;
  --color-biru: #a67b5b;
  --color-merah: #b4533f;
  --color-kuning: #d4a373;
}